.area1 {
  padding: 20px 0px;
  height: 80px;
  text-align: center;
  background-color: #252A2E;
  color: #D70316;

    list-style-type: none;
    padding-left: 0;
}

.area2 {
  display: flex;
  height: 39px;
  margin-bottom: 50px;
  text-align: right;
  color: #252A2E;
  background-color: #D70316;
}
