<!-- Header -->
<header>
  <div class="area1">
    <div>
     <!-- <img src="../../../pics/pokemonTrainer.jpg" width="150" height="150"> -->
    </div>
    <h3>Pokemon Trainer</h3>
  </div>
<!-- <div !contact.loggedIn && class="area2"> -->
  <div class="area2">
    <section>
      <a role="button" class="btn btn-primary" routerLink="/login">Login</a>&nbsp;
    </section>
    <section>
      <a role="button" class="btn btn-primary" routerLink="/login/create">Register</a>&nbsp;
    </section>
    <br>
    <section>
      <a role="button" class="btn btn-primary" routerLink="/login/pokemons">pokemons</a>&nbsp;
    </section>
    <br>
    <section>
      <a role="button" class="btn btn-primary" routerLink="/login/trainer">Trainer</a>&nbsp;
    </section>
  </div>
</header>
