<!-- Pokemon Grid -->
<!--  I got an error on setting the the variable loggedIn so cant use it jet
  to able access onlywhen logged in! -->
<!-- <div contact.loggedIn && class="container"> -->
<div class="pokemon-grid">
  <div class="box"
  *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}"
  (click)="onPokemonClicked(pokemon)">
    <img [src]="pokemon.sprites.front_default" alt="pokemon">
    <h3>{{ pokemon.name }}</h3>
    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }}
    </p>
    <p>
      <b>Heigh:</b> {{ pokemon.height }}
    </p>
    <p>
      <b>Health:</b> {{ pokemon.stats[0].base_stat }}
    </p>
    <p>
      <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
    </p>
  </div>
</div> <!-- End of pokemon Grid -->

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>
