
<!--  I got an error on setting the the variable loggedIn so cant use it jet
  to able access onlywhen logged in! -->
<!-- <div contact.loggedIn && class="container"> -->
<div class="container">
  <div class="row">
    <div class="col-sm-38 offset-sm-7">
  <h3>Register</h3>

<form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
  <fieldset class="mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" id="name" name="name"
      minlength="3"
      [ngClass]="{ 'is-valid': name.valid, 'is-invalid': (name.invalid && (name.dirty || name.touched))}"
      required ngModel #name="ngModel" placeholder="Mohammed" />

    <div *ngIf="name.errors && name.invalid && (name.invalid && (name.dirty || name.touched))">
      <div class="invalid-feedback" *ngIf="name.errors.required">The name is required!</div>
      <div class="invalid-feedback" *ngIf="name.errors.minlength">The name is too short!</div >
    </div>
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="text" id="email" name="email"
      [ngClass]="{ 'is-valid': email.valid, 'is-invalid': (email.invalid && (email.dirty || email.touched)) }"
      pattern="[a-z0-9._%+-]+@[a-z-9.-]+\.[a-z]{2,4}$"
      maxlength="128"
      required ngModel #email="ngModel" placeholder="Mohammed@gmail.not" />

      <div *ngIf="email.errors && email.invalid && (email.invalid && (email.dirty || email.touched))">
        <div class="invalid-feedback" *ngIf="email.errors.required">The email is required!</div>
        <div class="invalid-feedback" *ngIf="email.errors.pattern">Invalid email!</div >
      </div>
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="phone">Phone</label>
    <input class="form-control" type="tel" id="phone" name="phone"
      pattern="\d*"
      minlength="5"
      maxlength="15"
      [ngClass]="{ 'is-valid': phone.valid, 'is-invalid': (phone.invalid && (phone.dirty || phone.touched)) }"
      required ngModel #phone="ngModel" placeholder="0123456789" />

      <div *ngIf="phone.errors && phone.invalid && (phone.invalid && (phone.dirty || phone.touched))">
        <div class="invalid-feedback" *ngIf="phone.errors.required">The phone number is required!</div>
        <div class="invalid-feedback" *ngIf="phone.errors.pattern">The phone number is invalid!</div>
        <div class="invalid-feedback" *ngIf="phone.errors.minlength
        && !phone.errors.pattern">The phone number is too short!</div>
        <div class="invalid-feedback" *ngIf="phone.errors.maxlength">The phone number is too long!</div>
      </div>
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="avatar">Username</label>
    <input class="form-control" type="text" id="avatar" name="avatar"
      minlength="4"
      maxlength="30"
      [ngClass]="{ 'is-valid': avatar.valid, 'is-invalid': (avatar.invalid && (avatar.dirty || avatar.touched)) }"
      required ngModel #avatar="ngModel" ngModel placeholder="Momicro" />

      <div *ngIf="avatar.errors && avatar.invalid && (avatar.invalid && (avatar.dirty || avatar.touched))">
        <div class="invalid-feedback" *ngIf="avatar.errors.required">The username is required!</div>
        <div class="invalid-feedback" *ngIf="avatar.errors.minlength">The username is too short!</div >
        <div class="invalid-feedback" *ngIf="avatar.errors.maxlength">The username is too long!</div >
      </div>
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="street">Street</label>
    <input class="form-control" type="text" id="street" name="street"
      [ngClass]="{ 'is-valid': street.valid }"
      required ngModel #street="ngModel" placeholder="123 Street" />
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="city">City</label>
    <input class="form-control" type="text" id="city" name="city"
      [ngClass]="{ 'is-valid': city.valid }"
      required ngModel #city="ngModel" placeholder="London" />
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="country">Country</label>
    <input class="form-control" type="text" id="country" name="country"
      [ngClass]="{ 'is-valid': country.valid }"
      required ngModel #country="ngModel" placeholder="My Country" />
  </fieldset>
  <br>
  <button type="submit" class="btn btn-primary"
    [disabled]="createForm.invalid" >Register</button>&nbsp;
  <button class="btn btn-danger" onclick="onSubmit(null)">Cancel</button>

</form>

</div>
</div>
</div>
