<!--  I got an error on setting the the variable loggedIn so cant use it jet
  to able access onlywhen logged in! -->
<!-- <div contact.loggedIn && class="container"> -->
<div>
  <h3>Pokemons Trainer</h3>
  <div class="pokemon-grid" *ngIf="pokemon !== null">
  <div class="box">
    <img [src]="pokemon.sprites.front_default" alt="pokemon">
    <h3>{{ pokemon.name }}</h3>
    <p>
      <b>Type:</b> {{ pokemon.types[0].type.name }}
    </p>
    <p>
      <b>Heigh:</b> {{ pokemon.height }}
    </p>
    <p>
      <b>Health:</b> {{ pokemon.stats[0].base_stat }}
    </p>
    <p>
      <b>Attack Power:</b> {{ pokemon.stats[1].base_stat }}
    </p>
  </div>
</div> <!-- End of pokemon Grid -->
</div>
