
<!--  I got an error on setting the the variable loggedIn so cant use it jet
  to able access onlywhen logged in! -->
<!-- <div !contact.loggedIn && class="container"> -->
<div class="container">
  <div class="row">
    <div class="col-sm-48 offset-sm-10">
  <h3>login</h3>

<form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
  <fieldset class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" id="username" username="username"
      minlength="3"
      [ngClass]="{ 'is-valid': username.valid, 'is-invalid': (username.invalid && (username.dirty || username.touched))}"
      required ngModel #username="ngModel" />

    <div *ngIf="username.errors && username.invalid && (username.invalid && (username.dirty || username.touched))">
      <div class="invalid-feedback" *ngIf="username.errors.required">Username is required!</div>
      <div class="invalid-feedback" *ngIf="username.errors.minlength">Username is too short!</div >
    </div>
  </fieldset>

  <fieldset class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" id="password" password="password"
      minlength="5"
      [ngClass]="{ 'is-valid': password.valid, 'is-invalid': (password.invalid && (password.dirty || password.touched)) }"
      required ngModel #password="ngModel" />

    <div *ngIf="password.errors && password.invalid && (password.invalid && (password.dirty || password.touched))">
      <div class="invalid-feedback" *ngIf="password.errors.required">Password is required!</div>
      <div class="invalid-feedback" *ngIf="password.errors.minlength">Password is too short!</div >
    </div>
  </fieldset>
  <br>
  <button type="submit" class="btn btn-primary"
    [disabled]="createForm.invalid" >Login</button>&nbsp;
  <button class="btn btn-danger">Cancel</button>

</form>
<br> <br>
<p className="mb-3">No account? Register here</p>

<section>
  <a role="button" class="btn btn-primary" routerLink="/login/create">Register</a>&nbsp;
</section>

</div>
</div>
</div>
