<!--  I got an error on setting the the variable loggedIn so cant use it jet
  to able access onlywhen logged in! -->
<!-- <div contact.loggedIn && class="container"> -->
<main class="main-content">
  <app-pokemon-list></app-pokemon-list>
</main>

<!-- <app-landing></app-landing> -->

