/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #c3c9ce; */
}

.invalid-feedback {
  display: block;
}
/***
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  letter-spacing: 2px;
  background-color: blue;
}
*/
/**************************************************************/
/***
.container-app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.container-quiz {
  display: flex;
  width: 40%;
  height: 85%;
  background-color: rgb(148, 140, 140);
  text-align: center;
  flex-flow: column;
  border: 1px solid #e7eae0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-quiz {
  display: flex;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #e7eae0;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 34, 44);
  color: rgb(199, 149, 14);
  border-radius: 10px 10px 0px 0px;
}

.container-quiz .box {
  display: flex;
  width: 100%;
  height: 70%;
  flex-flow: column;
  margin: auto;
}
*/
